<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicotimeout.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NicotimeOut">
        <activity
            android:name=".user.fifthFragment.fifthFragment_popup"
            android:parentActivityName=".user.fifthFragment.fifthFragment"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".userStart.StartActivity_first_popup"
            android:parentActivityName=".userStart.StartActivity_first"/>


        <activity
            android:name=".userStart.StartActivity_first"
            android:parentActivityName=".userStart.StartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".common.QuestionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".user.UserProgress"
            android:parentActivityName=".userStart.StartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".userStart.StartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>


        <activity android:name=".common.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>


        <activity android:name=".common.SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>